<h1> My Notes </h1>

<form action="/notes" method="post">
  <div>
    <label for="msg">Note:</label>
    <textarea id="msg" name="note"></textarea>
    <input type="submit">
  </div>

<h2> List of notes: </h2>

<div class="">
  Note 1: Get Milk
  Note 2: <%= @note %>
</div>
